.advantages-title-positioning {
    position: absolute;
    top: 900px;
    left: 51%;
    transform: translateX(-50%);
}

.advantages-branch-img {
    position: absolute;
    top: 1144px;
    z-index: 10;
}

.advantages-toys-container {
    position: absolute;
    width: 100%;
    top: 1900px;
}

.advantage-toy-title {
    font-family: Cormorant, sans-serif;
    color: white;
    font-size: 30px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.advantages-toy-palette {
    position: absolute;
    left: 400px;
    width: 30%;
    margin: 0;
    padding: 0;
}

.rope {
    position: absolute;
    transform: translateX(-50%);
}

.advantages-toy-palette-img {
    position: absolute;
    width: 85%;
    left: 0;
    transform: translateX(-50%);
    top: 430px;
}

.advantages-toy-palette-title {
    position: absolute;
    text-align: center;
    transform: translateX(-41%);
    top: 850px
}

.advantages-toy-note {
    position: absolute;
    left: 970px;
    transform: translateY(-60%);
    width: 30%;
    margin: 0;
    padding: 0;
}

.advantages-toy-note-img {
    position: absolute;
    width: 60%;
    left: 0;
    transform: translateX(-50%);
    top: 450px;
}

.advantages-toy-note-title {
    position: absolute;
    text-align: center;
    transform: translateX(-45%);
    top: 1000px
}

.advantages-toy-gift {
    position: absolute;
    left: 1500px;
    width: 30%;
    margin: 0;
    padding: 0;
}

.advantages-toy-gift-img {
    position: absolute;
    width: 60%;
    left: 0;
    transform: translateX(-50%);
    top: 400px;
}

.advantages-toy-gift-title {
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    top: 850px
}

.shaking:hover {
    transform-origin: top center;
    animation: tilt 1s ease-in-out infinite;
}

@keyframes tilt {
    0%   { transform: translateX(-50%) rotate(0deg); }
    25%  { transform: translateX(-50%) rotate(3deg); }
    50%  { transform: translateX(-50%) rotate(-3deg); }
    75%  { transform: translateX(-50%) rotate(3deg); }
    100% { transform: translateX(-50%) rotate(0deg); }
}

.advantages-video {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 3000px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    align-items: center;
    overflow: visible;
}

.advantages-video video{
    width: 50%;
}

.mouse {
    position: absolute;
    top: -100px;
    transition: transform 1s ease-out;
}

.mouse.show {
    transform: translate(110%, 60%);
}
