
.balka {
    position: absolute;
    top: 50px;
    transform: translateY(-30%);
}

.balka-rotated {
    position: absolute;
    top: 50px;
    transform: translateY(50%) rotate(7deg) scaleX(1.1);
}

.buying-container {
    position: absolute;
    top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.buying-goods-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 300px;
}

.buying-good-item {
    display: flex;
    flex-direction: column;
    width: 28%;
}

.buying-good-item-images {
    position: relative;
    height: 500px;
}

.buying-good-item-images img {
    max-width: 100%;
    min-width: 0;
}

.buying-good-item-frame {
    position: absolute;
    z-index: 100;
    left: 0;
}

.buying-good-item-image {
    position: absolute;
    left: 0;
    top: 0;
}

.buying-good-item-title {
    color: white;
    font-family: Cormorant, sans-serif;
    font-size: 45px;
}

.buying-good-item-button {
    width: 35%;
    align-self: center;
    font-size: 25px;
    font-family: Cormorant, sans-serif;
    padding: 10px 0;
    border-radius: 30px;
    background-color: #D9D9D9;
    border: none;
    transition: background-color 0.3s ease;
}

.buying-good-item-button:hover {
    background-color: #E9A73E;
}

.to-the-right {
    position: relative;
    transform: translateX(10%);
    margin: 0;
    padding: 0;
}

.buying-bottom-text {
    color: white;
    font-family: Cormorant, sans-serif;
    font-size: 30px;
    width: 37%;
    text-align: left;
    align-self: end;
    margin-right: 250px;
}

.buying-gifts-imgs {
    position: relative;
    width: 100%;
    height: 100%;
}

.buying-gifts-imgs-branch {
    position: absolute;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 510px;
}

