.buying-modal {
    position: fixed;
    display: none;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 9999;
}

.buying-modal-content {
    background: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    position: relative;
    width: 70%;
    height: 80%;
    animation: show 0.2s ease;
    padding: 0 50px;
}

.buying-modal-content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.buying-modal-content-container img{
    width: 500px;
    height: 430px;
    border-radius: 15px;

}

.buying-modal-logo-button {
    text-decoration: none;
    color: #CEE4E3;
    background-color: #19263B;
    font-size: 30px;
    font-family: Cormorant, sans-serif;
    border-radius: 40px;
    padding: 5px 80px 11px;
    border: none;
    outline: 5px solid #19263B;
    outline-offset: 5px;
    margin: 50px 0;
}

.buying-modal-logo-button:hover {
    color: #CEE4E3;
    background-color: #E9A73E;
    outline-color: #E9A73E;
}

.buying-modal-content h1 {
    font-family: 'Cormorant', serif;
    font-size: 60px;
    margin: 0;
}

.buying-modal-content p {
    font-family: 'Cormorant', serif;
    font-size: 30px;
    text-align: left;
}
.buying-modal-content ul{
    font-family: 'Cormorant', serif;
    font-size: 30px;
    text-align: left;
    margin: 0;
}

.buying-modal-content h3 {
    font-family: 'Cormorant', serif;
    font-size: 45px;
    margin: 10px;
}

@keyframes show {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
