.review-cards-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
/*     overflow: hidden; */
    padding-top: 50px;
    gap: 90px;
    padding-left: 15%;
}

.review-card {
    position: relative;
    background-color: white;
    border-radius: 40px;
    min-width: 27%;
    min-height: 350px;
    padding: 10px 50px;

}

.review-card-title-container {
    display: inline-block;
    vertical-align: middle;
}

.review-card-title {
    font-family: Playfair Display, serif;
    font-size: 25px;
    margin: 0;
}

.review-card-grey {
    color: #9E9E9E;
}

.review-card-icon {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}

.review-card-text {
    font-size: 19px;
    margin: 5px;
    font-family: 'Hedvig Letters Serif', sans-serif;
}

.onbottom {
    position: absolute;
    bottom: 0;
}

.review-card-stars {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.questions-section {
    margin-top: 200px;
}

.questions-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Cormorant, serif;
    font-size: 30px;
    color: #1D2A3D;
    width: 100%;
}

.faq-input {
    background-color: #D9D9D9;
    font-family: Cormorant, serif;
    font-size: 30px;
    width: 30%;
    border-radius: 45px;
    border-width: 0;
    padding: 15px 15px 15px 100px;
}

.faq-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 50px 50px 100px;
    gap: 15px;
}

.faq-button {
    background-color: #D9D9D9;
    border-width: 0;
    font-family: Cormorant, serif;
    font-size: 30px;
    width: 30%;
    border-radius: 45px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
}

.faq-button:hover {
    background-color: #E9A73E;
}

.questions-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.questions-item {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 15px;
    padding: 5px 50px;
    background-color: #D9D9D9;
    transition: all 0.5s ease-in-out;
}

.questions-item-text {
    font-size: 25px;
    margin: 0;
    padding-bottom: 30px;
}

.questions-item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.arrow {
    background-color: transparent;
    border: none;
}

.questions-form-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 250px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.questions-form-text {
    font-family: Cormorant, serif;
    font-size: 30px;
    color: white;
    margin: 0;
    padding: 0;
}

.questions-form {
    margin-top: 50px;
    background-color: #d9d9d9;
    padding: 30px 70px;
    border-radius: 20px;
    width: 33%;
}

.questions-form-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 70px;
}

.questions-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: Cormorant, serif;
    font-size: 30px;
    color: #162131;
    width: 100%;
}

.questions-form input, .questions-form textarea {
    font-family: Cormorant, serif;
    font-size: 30px;
    border-radius: 15px;
    padding: 10px;
    border: none;
    resize: none;
}

.questions-form input {
    width: 260px;
}

.questions-form-group label {
    font-weight: bold;
}

.questions-submit-btn {
    display: block;
    margin: 60px auto 0;
    background-color: #2e4d82;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.questions-submit-btn:hover {
    background-color: #E9A73E;
}

.faq-mice-image {
    position: absolute;
    bottom: -250px;
    z-index: 100;
    pointer-events: none;
}
