@font-face {
    font-family: 'Hedvig Letters Serif';
    src: url('../assets/fonts/HedvigLettersSerif18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VeryBery';
    src: url('../assets/fonts/VeryBerry Pro.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../assets/fonts/Cormorant-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gabriela script';
    src: url('../assets/fonts/Gabriela script.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    /*height: 100%;*/
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: "VeryBery", serif;
    scroll-behavior: smooth;
}

.number {
    font-size: 25px;
    font-family: HedvigLettersSerif, serif;
}

.section-title {
    width: 100%;
    text-align: center;
    font-size: 131px;
    color: white;
    margin: 0 0 40px;
    padding: 0;
}

.mechanism-title-positioning {
    margin-bottom: 0 !important;
}

.smaller {
    font-size: 100px !important;
    margin: 0;
    padding: 0;
}

.logo-section {
    background-image: url("../assets/images/backgrounds/bg-1.png");
    position: relative;
    width: 100%;
    height: 3089px;
}

.logo-center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
    width: 197px;
}

.move-bottom {
    position: absolute;
    top: 250px;
}

.logo-img {
    position: absolute;
    left: 41%;
    transform: translateX(-50%);
    top: -50%;
    height: 57px;
    width: 76px;
}

.logo-top-text-title {
    position: absolute;
    color: #142A60;
    font-size: 167px;
    top: 720px;
    left: 610px;
}

.logo-top-text-subtitle {
    position: absolute;
    color: #142A60;
    font-size: 131px;
    top: 940px;
    left: 790px;
    transition-delay: 0.2s !important;
}

.logo-title {
    font-size: 140px;
    font-weight: lighter;
    color: #BE0000;
    margin: 0;
    padding: 0;
}

.logo-text {
    position: absolute;
    top: 60%;
    font-family: 'Gabriela script', serif;
    font-size: 70px;
    color: black;
    align-self: end;
    margin: 0;
    padding: 0;
}

.logo-text-container {
    position: absolute;
    display: flex;
    width: fit-content;
    flex-direction: column;
    top: 1812px;
    left: 850px;
}

.logo-button {
    text-decoration: none;
    color: #0A1424;
    position: absolute;
    top: 2440px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #EFA547;
    font-size: 45px;
    font-family: Cormorant, sans-serif;
    border-radius: 40px;
    padding: 5px 80px 11px;
    border: none;
    outline: 5px solid #EFA547;
    outline-offset: 5px;
}

.logo-model {
    position: absolute;
    top: 1478px;
    left: 200px;
    width: 837px;
    height: 733px;
    pointer-events: none;
    outline: none;
}

.advantages-section {
    background-image: url("../assets/images/backgrounds/bg-2.png");
    width: 100%;
    height: 3746px;
    position: relative;
    font-family: "VeryBery", serif;

}

.mechanism-section {
    position: relative;
    background-image: url("../assets/images/backgrounds/bg-3.png");
    width: 100%;
    height: 3380px;
}

.buying-section {
    position: relative;
    background-image: url("../assets/images/backgrounds/bg-3.png");
    width: 100%;
    height: 2950px;
}

.FAQ-section {
    position: relative;
    background-image: url("../assets/images/backgrounds/bg-4.png");
    width: 100%;
    padding-top: 500px;
    height: 3500px;
    overflow: hidden;
}

.footer {
    background-image: url("../assets/images/backgrounds/footer.png");
    height: 426px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer-balka {
    position: relative;
    transform: translateY(-4%);
    z-index: 101;
}

.footer-logos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 80px;

}

.ellipse {
    padding: 15px;
    overflow: visible;
    border: 3px solid;
    border-radius: 50%;
}

.blue {
    color: #305166;
}

.red {
    color: #BE0000;
}

.light-blue {
    color: #4E9ACA;
}

.footer-logo {
   height: 58px;
}

.footer-logo-container a {
    text-decoration: none;
}

.footer-logo-container-left {
    display: flex;
    flex-direction: row;
    gap: 30px
}

model-viewer::part(default-progress-bar) {
    display: none; /* чтобы не было полосы подгрузки у 3д модели */
}

.smooth-appear {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease;
}

.smooth-appear.show {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    display: none !important;
}
